.layout
  .table
    .table__icon--coffe
      img(src="https://cdn3.iconfinder.com/data/icons/cafe/512/cafe16-512.png", alt="Coffe")
    table
      tr
        th Item
        th Precio
      tr
        td Café americano
        td 5
        td.table__icon 
          img(src="https://i.imgur.com/l5yZXbV.png" alt="Add product")

      tr
        td Café con leche
        td 7
        td.table__icon 
          img(src="https://i.imgur.com/l5yZXbV.png" alt="Add product")

      tr
        td Sandwich de jamón y queso
        td 10
        td.table__icon 
          img(src="https://i.imgur.com/l5yZXbV.png" alt="Add product")

      tr
        td Island Trading
        td 7
        td.table__icon 
          img(src="https://i.imgur.com/l5yZXbV.png" alt="Add product")

  .total
    .total__icon
      img(src="https://image.flaticon.com/icons/svg/34/34627.svg" alt="Shopping car")
    
    .total__items
      table
        tr
          td Item
          td Precio

        tr
          td Item
          td Precio

        tr
          td Item
          td Precio

        tr
          td Item
          td Precio
        tr
          th  Total
          th  Precio total
